<div [ngClass]="product.inStock ? 'card-container' : 'card-container-outStock' ">
    <div class="content-container">
      <a [routerLink]="[ '/product',  product.id]">
        <img
        [src]="product.gallery[0]"
        alt="product"
      />
      <div class="add-cart">
        <ng-container *ngIf="product.inStock">
          <button>
            <img src="/assets/Common.svg" alt="cart" />
          </button>
        </ng-container>
        <p [ngClass]="product.inStock ? 'in-stock' : 'out-stock' ">OUT OF STOCK</p>
      </div>
      <div class="product-desc">
        <p class="product-name">{{product.name}}</p>

        <p class="product-price">
           {{product.prices[0].currency.symbol}}  {{ product.prices[0].amount}}
        </p>
      </div>
      </a>
    </div>
  </div>
