section {
    height: 100%;
    max-width: 100%;
    display: flex;
    gap: 16px;
}
aside {
    width: 200px;
    height: 600px;
    display: grid;
    justify-content: center;
    gap: 12px;
    overflow-y: auto;

}
.image-gallery {
    width: 100px;
    height: auto;
    cursor: pointer;

}
.selected {
    border: 2px solid #5ECE7B;
}
.variant-selected {
  border: 2px solid #222222;
}
.image-gallery > img {
    width: 100%;
}
.product-details {
    padding: 16px;
    display: flex;
    width: 100%;
    gap: 24px;

}

.image-container {
    width: 60%;
    height: 510px;
}
.image-container > img {
    width: 100%;
    height: 100%;
}

.details {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    font-size: 30px;
}
h3 {
    font-weight: 300;
    font-size: 30px;
    margin-top: 4px;
}
h5 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 20px;
}
.button {
    display: flex;
    gap: 16px;
}

.sizes {
    width: 80px;
    height: 65px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;

}
.price {
    /* margin-top: 10px; */
}
.price > p {
    color: #1D1F22;
    font-size: 24px;
    font-weight: 700;
}
.notallowed-button {
  cursor: not-allowed;
  width: 100%;
  background-color: #5ECE7B;
  color: white;
  padding: 20px;
  border: none;
    /* margin-top: 40px; */
}

.add-button{
    width: 100%;
    background-color: #5ECE7B;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
     line-clamp: 4;
    -webkit-box-orient: vertical;
}

