<section>
    <aside>
        <div class="image-gallery" *ngFor="let image of productDetails?.gallery; let i = index" (click)="changeImage(image)" >
            <img [src]="image" alt="gallery" [ngClass]="productDetails?.gallery?.[i] === selectedImage ? 'selected': '' "/>
        </div>

    </aside>
    <div class="product-details">
        <div class="image-container">
             <img [src]="selectedImage" alt="product" />
        </div>
        <div class="details">
            <div class="product-names">
                <h1>{{productDetails?.brand}}</h1>
                <h3>{{ productDetails?.name}}</h3>
            </div>
            <ng-container *ngIf="!productDetails?.attributes; else elseTemplate">
                <p>nothing here</p>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="product-sizes"  *ngFor="let size of productDetails?.attributes">
                  <div>
                    <h5>{{size.name}}</h5>
                    <div *ngIf="size.type === 'swatch'" class="button">
                      <div *ngFor="let item of size.items"
                           [style.background-color]="item.value"
                           (click)="selectVariant(size.id, item.id)"
                           [class.variant-selected]="selectedVariants[size.id] === item.id"
                           class="sizes"
                      >
                        {{ size.type === 'swatch' ? null : item.displayValue }}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="size.type === 'text'" class="button">
                    <div *ngFor="let item of size.items"
                         (click)="selectVariant(size.id, item.id)"
                         [class.variant-selected]="selectedVariants[size.id] === item.id"
                         class="sizes"
                    >
                      {{ item.displayValue }}
                    </div>
                  </div>
                </div>
            </ng-template>
            <div class="price">
                <h5>PRICE: </h5>
                <p>{{productDetails?.prices?.[0]?.currency?.symbol}} {{productDetails?.prices?.[0]?.amount}}</p>
            </div>
            <div>
<!--                <button [ngClass]="productDetails?.inStock ? 'add-button' : 'notallowed-button' " (click)="addToCart(productDetails!)">Add to Cart</button>-->
              <button class="add-button" [disabled]="!productDetails?.inStock" (click)="addToCart(productDetails!)">Add to Cart</button>
            </div>
            <div class="description">
                <p>{{productDetails?.description | removeHtml}}</p>
            </div>
        </div>
    </div>
</section>
