<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<main>
  <header class="">
    <ul>
      <li><a routerLink = "" routerLinkActive="active" ariaCurrentWhenActive="page">ALL</a></li>
      <li><a routerLink = "/clothes" routerLinkActive="active" ariaCurrentWhenActive="page">CLOTHES</a></li>
      <li><a routerLink = "/tech" routerLinkActive="active" ariaCurrentWhenActive="page">TECH</a></li>
    </ul>
    <div class="">
      <img class="" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
    </div>
    <div class="currency-section">
      <select>
        <option *ngFor="let currency of currencies" [value]="currency.symbol">{{ currency.symbol + "  " + currency.label }}</option>
      </select>
      <div class="badge-icon">
        <a href="/cart" routerLinkActive="active" ariaCurrentWhenActive="page"> <mat-icon [matBadge]="getTotalItems()" aria-hidden="false" aria-label="cart" fontIcon="shopping_cart" ></mat-icon></a>
      </div>
    </div>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
