.product-container {
    padding: 40px 0;
}

.heading {
    font-weight: normal;
    font-size: 42px;
    padding-bottom: 48px;
    letter-spacing: 0;
}

.product-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}
